/* Pengalih Tema Sembunyi */
.pengalih-tema {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* 1. Tema Gelap Otomatis jika OS Pengguna set Gelap */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--gray-900);
    --color-fg: var(--gray-200);
    --color-surface: var(--gray-800);
    --color-border: var(--gray-700);
    --color-primary: var(--blue-300);
    --color-danger: var(--red-300);
    --color-focus: var(--yellow-400);
    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.45);
  }

  /* Jika OS Gelap DAn checkbox DI-CENTANG -> Paksa Pindah ke Tema Terang */
  :root:has(#tema:checked) {
    --color-bg: var(--gray-50);
    --color-fg: var(--gray-900);
    --color-surface: #FFFFFF;
    --color-border: var(--gray-200);
    --color-primary: var(--blue-700);
    --color-danger: var(--red-600);
    --color-focus: var(--blue-500);
    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.10);
  }
}

/* 2. Jika OS Pengguna set Terang DAN checkbox DI-CENTANG -> Paksa Pindah ke Tema Gelap */
@media (prefers-color-scheme: light) {
  :root:has(#tema:checked) {
    --color-bg: var(--gray-900);
    --color-fg: var(--gray-200);
    --color-surface: var(--gray-800);
    --color-border: var(--gray-700);
    --color-primary: var(--blue-300);
    --color-danger: var(--red-300);
    --color-focus: var(--yellow-400);
    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.45);
  }
}